.container-app{
  background-image: url('./assets/img/bg-risc.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain;
  width: 80%;
  margin: 80px auto;
}

.title{
font-family: 'Poppins', sans-serif;
font-weight: 900;
}
.simple-text{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}